<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.com.qianfeng.dao.newsMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.com.qianfeng.entity.news">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="xinwenbiaoti" jdbcType="VARCHAR" property="xinwenbiaoti" />
    <result column="xinwenzhaiyao" jdbcType="VARCHAR" property="xinwenzhaiyao" />
    <result column="zuozhe" jdbcType="VARCHAR" property="zuozhe" />
    <result column="chuangjianshijian" jdbcType="DATE" property="chuangjianshijian" />
  </resultMap>
  <sql id="Base_Column_List">
    id, xinwenbiaoti, xinwenzhaiyao, zuozhe, chuangjianshijian
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from d_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from d_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.com.qianfeng.entity.news">
    insert into d_news (id, xinwenbiaoti, xinwenzhaiyao, 
      zuozhe, chuangjianshijian)
    values (#{id,jdbcType=INTEGER}, #{xinwenbiaoti,jdbcType=VARCHAR}, #{xinwenzhaiyao,jdbcType=VARCHAR}, 
      #{zuozhe,jdbcType=VARCHAR}, #{chuangjianshijian,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.com.qianfeng.entity.news">
    insert into d_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="xinwenbiaoti != null">
        xinwenbiaoti,
      </if>
      <if test="xinwenzhaiyao != null">
        xinwenzhaiyao,
      </if>
      <if test="zuozhe != null">
        zuozhe,
      </if>
      <if test="chuangjianshijian != null">
        chuangjianshijian,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="xinwenbiaoti != null">
        #{xinwenbiaoti,jdbcType=VARCHAR},
      </if>
      <if test="xinwenzhaiyao != null">
        #{xinwenzhaiyao,jdbcType=VARCHAR},
      </if>
      <if test="zuozhe != null">
        #{zuozhe,jdbcType=VARCHAR},
      </if>
      <if test="chuangjianshijian != null">
        #{chuangjianshijian,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.com.qianfeng.entity.news">
    update d_news
    <set>
      <if test="xinwenbiaoti != null">
        xinwenbiaoti = #{xinwenbiaoti,jdbcType=VARCHAR},
      </if>
      <if test="xinwenzhaiyao != null">
        xinwenzhaiyao = #{xinwenzhaiyao,jdbcType=VARCHAR},
      </if>
      <if test="zuozhe != null">
        zuozhe = #{zuozhe,jdbcType=VARCHAR},
      </if>
      <if test="chuangjianshijian != null">
        chuangjianshijian = #{chuangjianshijian,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.com.qianfeng.entity.news">
    update d_news
    set xinwenbiaoti = #{xinwenbiaoti,jdbcType=VARCHAR},
      xinwenzhaiyao = #{xinwenzhaiyao,jdbcType=VARCHAR},
      zuozhe = #{zuozhe,jdbcType=VARCHAR},
      chuangjianshijian = #{chuangjianshijian,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>